/* Login form container */
.container {
    width: 100%;
    max-width: 400px;
    background: white;
    padding: 60px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 100px; /* Added margin-top to prevent overlap with navbar */
}

/* Logo styling */
.logo {
    height: 150px;
    width: 150px;
}

/* Title styling */
.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Form group styling */
.form-group {
    text-align: left;
    margin-bottom: 15px;
}

/* Label styling */
label {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

/* Form control styling */
.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* Button styling */
.btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

/* Specific login button styling */
.btn-login {
    background-color: #000;
    color: rgb(255, 255, 255);
    width: 180px;
}

/* Login button hover effect */
.btn-login:hover {
    background-color: rgb(51, 51, 51);
}

/* Forgot password and register link styles */
.forgot-password, .register {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    color: #1877f2;
    text-decoration: none;
}
